<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Dashboard</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")     
        
    </head>
    <body>
            <header>
                <div style="min-width: 1024px; position: relative;">
                    <div class="center-image">
                        <table style=" width: 1000px">
                            <tr>
                                <td>
                                    <img src="~/Images/Header_Logo.jpg" />
                                </td>
                                <td></td>
                                <td style="text-align:right;">
                                    <div class="top-row-label">
                                        Version @Html.CurrentVersion()
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div class="center-content-login">
                    @RenderBody()
                    </div>
                </section>
        </div>
        <br />
        <br />
        <br />
        <footer>
            <div class="content-wrapper">
                 <table >
                    <tr>
                        <td>
                            <img src="~/Images/LineHCP.jpg" />
                        </td>
                    </tr>
                     <br />

                     <tr style="text-align:center">
                         <td>
                             <p>&copy; C3 Systems Engine - @DateTime.Now.ToLongDateString()</p>
                         </td>
                     </tr>
                </table>
            </div>
        </footer>

        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
</body>
</html>
